<div class="grid">
  <div *ngFor="let row of grid; let i = index" class="row">
    <div (mousedown)="onMouseDown(i, j)" (mousemove)="onMouseMove(i, j)"
         *ngFor="let cell of row; let j =index"
         [style.background-color]="getCellColor(cell)"
         class="cell">
    </div>
  </div>
</div>
<div class="menu">
  <form #blurForm="ngForm" (ngSubmit)="applyBlur()">
    <div class="size-options">
      <label for="blurSize">SIZE</label>
      <input [(ngModel)]="blurSize" id="blurSize" name="blurSize" required type="number">
    </div>
    <button type="submit">BLUR</button>
  </form>
</div>
